:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #ffffff;
  --header-background-color: #ffffff;
  --top-section-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* оформление логотипа */

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.logo-header {
  color: var(--primary-title-color);
}
.logo,
a {
  text-decoration: none;
}
/* оформление навигаци по сайту */
.header {
  display: flex;
  flex-direction: row;
}
.nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  margin-left: 93px;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* оформление секции герой */
.hero {
  background-color: var(--top-section-background-color);
  text-align: center;
  padding: 200px 15px;
}
.hero-title {
  color: var(--main-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  border-radius: 4px;
  min-width: 200px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-text-color);

  cursor: pointer;
  padding: 10px 32px;
  margin-top: 30px;
}
.hero-btn:hover,
.hero-btn:focus {
  display: inline-block;
  background-color: #188cef;
  cursor: pointer;
}
.hero-btn,
.filter-btn {
  font-family: inherit;
}
/* оформление секции  about*/
.section {
  padding: 94px 15px;
}

.about .title {
  display: none;
}
.about-list {
  display: flex;
}
.about-item + .about-item {
  margin-left: 30px;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-top: 10px;
}
/* оформление production-section */
.production {
  padding-top: 0px;
}
.production-item {
  margin-top: 50px;
}
.production-item + .production-item {
  margin-left: 30px;
}
.production-list {
  display: flex;
}
/* оформление team-section */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.team {
  padding-top: 94px;
}
.team-list {
  display: flex;
  margin-top: 50px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.name-title {
  margin-top: 30px;
}
.position-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-top: 10px;
}
/* оформление футера */
.footer {
  background-color: var(--top-section-background-color);
  padding: 60px auto;
}
.footer .contacts {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-items:not(:first-child) {
  margin-top: 9px;
}
.logo-footer {
  color: var(--main-text-color);
}
.company-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.footer-contact-link {
  color: var(--footer-contacts-color);
}
/* оформление портфолио */
.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}
.project-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
